START_PASSWORD = 139240
STOP_PASSWORD = 999999
PASS_MODE = 'hex'   # 'hex' or 'ascii'
PK = 42  # Default '0'
SERIAL_TIMEOUT = .7
PORT = 'COM20'   # Serial port Linux-'/dev/tty' Windows-'COM1'
CSD = True  # CSD mode
PHONE = ''  # if CSD==True